<!DOCTYPE html>
<!-- <section id="banner_home">
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
			  <img src="../../assets/pythontraing1.png" alt="Python Training Course" style="width:1355px;height:333px">	
			  <div class="carousel-caption course-caption right">
				    <h1 class="inner-title">Python Training in Pune</h1>
				  <p class="title">Beginner To Advanced Level From Industry Experts</p>
			  </div>
			</div>
		</div>
	</div>	
</section> -->
<div container>
    <img class="book" src="../../assets/pythontraing1.png" alt="Contact Us" style="width:1355px;height:333px"/>
</div>