<!DOCTYPE html>

<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Who We Are</h1>
          <p class="lead text-muted mb-0">MAKERS has been founded by a group of highly qualified professionals 
            with an excelled expertise onto varied technological domains as a centre for education & training 
            with a vision to outstandingly contribute in the areas of education, technology and advancement.<br>
            Here we understand and believe that just as an organization needs the right talent to drive its 
            business objectives, people need the right environment to grow and achieve their career goals. The 
            moment you step in our institute, you would be greeted with the feeling of being at the right place. 
            Along with that, we affords you with a sense of certainty of a successful and rewarding career that 
            would be driven by boundless growth opportunities and exposure to cutting-edge technologies and 
            learning possibilities. Each of these elements goes much deeper than what it conveys.</p>
          <!-- <p class="lead text-muted">Snippet by <a href="https://bootstrapious.com/snippets" class="text-muted"> 
                      <u>Bootstrapious</u></a>
          </p> -->
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    <!-- </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5"> -->
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">WHY MAKERS</h2>
          <p class="font-italic text-muted mb-4">We provide 100% Job placement assistance after completing course.
            We offer a affordable fee structure.
            Our faculty comprise of experienced certified trainers from IT industry.
            We offer job-oriented programs and practical training during sessions to get hands on experience. 
            During training sessions we give to Live Project to work so that one can get practical knowledge of 
            working with desired field using real time examples. 
            Our prime motto is to prepare our students to face today’s corporate scenario. 
            One may feel that the journey of MAKERS has just begun but the thought process and its roadmap was 
            laid by the management team for a long time thus enabling the three ‘E’s for a better career – 
            Education, Experience and Employability.</p>
          <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
        </div>
      </div>
      <!-- <div class="row align-items-center mb-5">
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">WHY MAKERS</h2>
          <p class="font-italic text-muted mb-4">We provide 100% Job placement assistance after completing course.
            We offer a affordable fee structure.
            Our faculty comprise of experienced certified trainers from IT industry.
            We offer job-oriented programs and practical training during sessions to get hands on experience. 
            During training sessions we give to Live Project to work so that one can get practical knowledge of 
            working with desired field using real time examples. 
            Our prime motto is to prepare our students to face today’s corporate scenario. 
            One may feel that the journey of MAKERS has just begun but the thought process and its roadmap was 
            laid by the management team for a long time thus enabling the three ‘E’s for a better career – 
            Education, Experience and Employability.</p> -->
        <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
        <!-- </div>
        
      </div> -->
      <div class="row align-items-center">
        
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">OUR VISION</h2>
          <p class="font-italic text-muted mb-4">We at MAKERS, provide the guidance by qualified professionals, 
            after assessing the intelligence, interest and personality of an individual to identify the careers 
            in which the individual will succeed and counsel him/her accordingly. It helps students to select 
            courses based on their level of intelligence, interests, personality and to prepare for appropriate
            careers. Our primary purpose is to guide you how to explore and investigate your inner potential & 
            overcome your weaknesses. Interest inventories and career tests will not tell you what you could or 
            should do. They will, however, help you organize your thoughts and ideas about the career path that 
            you would like to choose for yourself.</p>
          <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
        </div>
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
    </div>
  </div>
  
  <!-- <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
  
      <div class="row text-center"> -->
        <!-- Team item-->
        <!-- <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div> -->
        <!-- End-->
  
        <!-- Team item-->
        <!-- <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div> -->
        <!-- End-->
  
        <!-- Team item-->
        <!-- <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div> -->
        <!-- End-->
  
        <!-- Team item-->
        <!-- <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div> -->
        <!-- End-->
  
      <!-- </div>
    </div>
  </div> -->
  
  
<!-- ============bg-se-06  Team Section  Start============ -->

<section class="bg-se-06">
  <div class="container">
      <div class="row">
          <div class="heading">
              <h2>Our Team</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="team-card">
                  <div class="image-team">
                    <img src="../../assets/kalpesh.png" style="height: 250px; width:250px;">
                  </div>
                  <div class="team-content">
                      <h3>Kalpesh Ahirrao</h3>
                      <p>Software Trainer</p>
                      <!-- <ol>
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                          <li><i class="fab fa-pinterest-p"></i></li>
                      </ol> -->
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="team-card">
                  <div class="image-team">
                      <img src="../../assets/yogesh.png" style="height: 250px; width:250px;">
                  </div>
                  <div class="team-content">
                      <h3>Yogesh Aghav</h3>
                      <p>Web Designer</p>
                      <!-- <ol>
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                          <li><i class="fab fa-pinterest-p"></i></li>
                      </ol> -->
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="team-card">
                  <div class="image-team">
                    <img src="../../assets/sanket.png" style="height: 250px; width:250px;">
                  </div>
                  <div class="team-content">
                      <h3>Sanket Gunjekar</h3>
                      <p>Institute Manager</p>
                      <!-- <ol>
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                          <li><i class="fab fa-pinterest-p"></i></li>
                      </ol> -->
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="team-card">
                  <div class="image-team">
                    <img src="../../assets/saurabh.jpg" style="height: 250px; width:250px;">
                  </div>
                  <div class="team-content">
                      <h3>Saurabh Gaikwad</h3>
                      <p>Counsellor</p>
                      <!-- <ol>
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                          <li><i class="fab fa-pinterest-p"></i></li>
                      </ol> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>