<!DOCTYPE html>
<!-- <br><br><br><p>contactus works!</p> -->
<div container>
    <img class="book" src="../../assets/contactus.png" alt="Contact Us" style="width:1355px;height:333px"/>
    <p class="text">LET'S MEET AND<br> TALK IN DETAIL</p>
</div>
<br><br><br><br>
<h3 style="color: orangered;">Address</h3>
<h5>Datta Digambar colony, Ambedkar chawk, warje jakat naka, Pune - 411058<br><br></h5>
<h3 style="color: orangered;">You can also reach us at</h3>
<img src="../../assets/call1.png" style="width: 30px; height: 30px;">   7588387007<br><br>
<img src="../../assets/message.png" style="width: 30px; height: 30px;">info@makers.com<br><br>


<div class="login-box">
    <h2>Login</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>FullName</label>
        </div>
        <div class="user-box">
            <input type="email" name="" required="">
            <label>Email Id</label>
        </div>
        <div class="user-box">
            <input type="number" name="" required="">
            <label>Mobile Number</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Select Course</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Preferred Schedule (Weekdays/Weekend)</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Currently Working (Yes/No)</label>
        </div>
        <!-- <div class="user-box">
            <label>Preferred Schedule</label>&nbsp;
            <input type="radio" name="" required="">
            <label>Weekdays</label>&nbsp;
            <input type="radio" name="" required="">
            <label>Weekend</label>
        </div>
        <div class="user-box">
            <label>Currently Working</label>&nbsp;
            <input type="radio" name="" required="">
            <label>Yes</label>&nbsp;
            <input type="radio" name="" required="">
            <label>No</label>
        </div> -->
        <a href="#">Submit</a>
    </form>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>